.form {
    outline: 1px solid #1d49aa;
    width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.input {
    width: 200px;
    margin-bottom: 20px;
    font-size: 16px;
}

.button {
    width: 150px;
    appearance: none;
    border: 0;
    border-radius: 4px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    text-transform: capitalize;
}

.button:hover,
.button:focus {
    background: #1d49aa;
    outline: none;
    box-shadow: 0 0 0 4px #cbd6ee;
}